/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */
@import "font-awesome.min.css";

@font-face {
    font-family: mono;
    src: url('../fonts/VCR_OSD_MONO_1.001.ttf');
}
@font-face {
    font-family: roboto-regular;
    src: url('../fonts/roboto/Roboto-Regular.ttf');
}

body{
    font-family: roboto-regular;
}
html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */


.nav-url{
    cursor: pointer;
    text-decoration: underline;
}
.first-section{
    background: url('../img/robot.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: #fff;
    background-position: center center;
}
.first-section .content{
    font-family: mono;
    text-align: center;
}

.first-section .content h1{
    font-size: 3em;
    margin: 0;
}

.first-section .content p{
    font-size: 1.4em;
    margin: 0;
}
.first-section .content .urls {
    margin-top: 30px;
    margin-bottom: 20px;
}

.first-section .content .urls a{
    color: white;
}


.content-section{
    min-height: 100vh;
    display: flex;
    flex-direction: row;
}
.content-section .title{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: mono;
    position: relative;
}
.content-section .title h2{
    text-transform: uppercase;
    font-size: 3em;
}
.content-section .title .urls{
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    left: 0;
}

.content-section .description{
    width: 50%;
    box-sizing: border-box;
    
}
.second-section{ 
    position: relative;
}
.second-section .img-about{ 
    position: absolute;
    width: 100%;
    text-align: center;
    left: 0;
    top: 20px;
}
.second-section .img-about img{ 
    border-radius: 50%;
    width: 140px;
}
.second-section .title{
    background-color: #B8C7D0;
}
.second-section .description{
    padding: 42px 70px 0px 60px;
}
.second-section .description .title-about{
    font-family: mono;
    font-size: 25px;
    text-align: left;
    width: 200px;
    margin: 0 auto;
}
.second-section .description .content-double{ 
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
.second-section .description .content-double .content-double__section{
    width: 50%;
}
.second-section .title .urls a{
    color: #000;
}

.third-section .title{
    background-color: #3C3C3C;
    color: #fff;
    margin-left: -1px;
}
.third-section .title .urls a{
    color: #fff;
}
.third-section .description{
    padding: 40px 0;
    text-align: center;
}
.third-section .description h2{
    font-family: mono;
}
.third-section .description .works{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0;
}
.third-section .description .works .work{
    width: 33.333%;
    cursor: pointer;
    position: relative;
}
.third-section .description .works .work img{
    width: 100%;
}
.third-section .description .works .work  .cover{
    position: absolute;
    height: 0;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: rgba(0, 0, 0, 0.46);
    font-weight: 600;
    font-size: 0.9em;
    overflow: hidden;
    font-family: mono;
    -webkit-transition: height 0.4s;
    -moz-transition:height 0.4s;
    transition: height 0.4s;
}
.third-section .description .works .work  .cover span:nth-child(2){
    margin-bottom: 10px;
}
.third-section .description .works .work:hover .cover{
    height: 100%;

}    
.third-section .description .github{
    font-size: 31px;
    font-family: mono;
}
.third-section .description  p{
    font-family: mono;
}
.third-section .description .github p a{
    color: #018BB5;
}


.fourth-section .title{
    background-color: #759895;  
}
.fourth-section .title .urls a{
    color: #000;
}
.fourth-section .description{
    padding: 100px 40px;
}
.fourth-section .description .text{
    font-size: 1.3em;
    font-weight: 500;
}
.fourth-section .description h2 {
    font-family: mono;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.fourth-section .description .medium{
    font-size: 31px;
    font-family: mono;
    text-align: center;
}
.fourth-section .description .medium p a{
    color: #018BB5;
}
.fourth-section .description .posts .post{
    display: block;
    color: #000;
    font-size: 1.4em;
    line-height: 1.4;
    margin-bottom: 10px;
}

.five-section .title{
    background-color: #BFBFBF;  
}
.five-section .title .urls a{
    color: #000;
}
.five-section .description{
   padding: 100px 40px;
}
.five-section .description .text{
    text-align: center;
    font-size: 1.4em;
    font-family: mono;
}
.five-section .description .links{
    text-align: center;
    display: flex;
    justify-content: center;

}
.five-section .description a{
    color: #000;
    margin: 10px;
    font-size: 3em;
    -webkit-transition: all 0.4s;
    -moz-transition:all 0.4s;
    transition: all 0.4s;
}
.five-section .description a:hover{
     -ms-transform: translate(-5px); 
    -webkit-transform: translate(-5px); 
    transform: translateY(-5px);
}

#hexagono { 
  width: 150px; 
  height: 90px; 
  background: url('../img/yo.jpg');
  background-repeat: no-repeat; 
  position: relative; 
  margin: 0 auto;
}
 
#hexagono:before { 
  content: ""; 
  position: absolute; 
  top: -50px; 
  left: 0; 
  width: 0; 
  height: 0; 
  border-left: 75px solid transparent; 
  border-right: 75px solid transparent; 
  border-bottom: 50px solid transparent; 
} 
#hexagono:after { 
  content: ""; 
  position: absolute; 
  bottom: -50px; 
  left: 0; 
  width: 0; 
  height: 0; 
  border-left: 75px solid transparent; 
  border-right: 75px solid transparent; 
  border-top: 50px solid transparent;  
}
/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (max-width: 940px) {
    .content-section{
        flex-direction: column;
    }
    .content-section .title{
        width: 100%;
        min-height: 400px;
        order: 1;
    }
    .content-section .description{
        width: 100%;
        order: 2;
    }

    .third-section .description .works .work {
        width: 50%;
    }
    .third-section .description .works .work  .cover{
        height: 100%;
    }
    .second-section .img-about{ 
        display: none;
    }


}
@media only screen and (max-width: 480px) {
    .third-section .description .works .work {
        width: 100%;
    }
    .second-section .description {
        padding: 100px 40px;
    }
    .second-section .description .content-double{
        flex-direction: column;
    }
    .second-section .description .content-double .content-double__section{
        width: 100%;
    }
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.text-center{
    text-align: center;
}
.font-mono{
    font-family: mono;
}
/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}