@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?pmyzxt");
  src: url("../fonts/icomoon.eot?#iefixpmyzxt") format('embedded-opentype'), url("../fonts/icomoon.woff?pmyzxt") format('woff'), url("../fonts/icomoon.ttf?pmyzxt") format('truetype'), url("../fonts/icomoon.svg?pmyzxt#icomoon") format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
/* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-home:before {
  content: "\f015";
}
.icon-edit:before {
  content: "\f044";
}
.icon-laptop:before {
  content: "\e600";
}
.icon-mail:before {
  content: "\f03b";
}
.icon-user-tie:before {
  content: "\e976";
}
.icon-google-plus:before {
  content: "\ea88";
}
.icon-facebook:before {
  content: "\ea8c";
}
.icon-twitter:before {
  content: "\ea91";
}
.icon-github3:before {
  content: "\eab3";
}
.icon-linkedin2:before {
  content: "\eac9";
}
.icon-blog:before {
  content: "\e909";
}
@font-face {
  font-family: 'Kaushan';
  src: url("../fonts/KaushanScript-Regular.otf");
}
@font-face {
  font-family: 'Aller Regular';
  src: url("../fonts/Aller_Rg.ttf");
}
@font-face {
  font-family: 'Aller Italic';
  src: url("../fonts/Aller_It.ttf");
}
@font-face {
  font-family: 'Aller Bold';
  src: url("../fonts/Aller_Bd.ttf");
}
body {
  background-color: #ababab;
  font-family: Aller Regular;
}
footer {
  background: #27282d;
  margin-top: 50px;
  padding: 30px;
  text-align: center;
  font-family: Aller Italic;
}
footer span {
  color: #fff;
}
footer a {
  color: #fff;
}
header {
  background: #27282d;
  margin: 0 auto;
  padding: 10px;
  color: #fff;
  text-align: center;
}
header h1 {
  font-size: 50px;
  font-family: Kaushan;
  position: relative;
  width: 55%;
  margin: 0 auto;
  padding: 10px;
}
header h1:before {
  content: "";
  border-bottom: 1px solid #fff;
  color: #1b1b1b;
  position: absolute;
  left: 0;
  top: 40px;
  width: 25%;
}
header h1:after {
  content: "";
  border-bottom: 1px solid #fff;
  color: #1b1b1b;
  width: 25%;
  position: absolute;
  right: 0;
  top: 40px;
}
.info {
  margin: 0;
  margin-top: 10px;
  width: 90%;
}
.skills {
  background: #fff;
  padding: 10px;
  margin-top: 10px;
  border: 1.5px solid #343434;
  box-shadow: 0px 1px 1px 0px;
}
.skills .row {
  margin: 0;
}
.icon {
  font-size: 50px;
  color: #27282d;
}
.title-skill {
  border-bottom: 1px solid #000;
}
.title-skill h3 {
  color: #27282d;
}
.tag-skill span {
  background: #435555;
  color: #fff;
  padding: 0px 2px;
  border-radius: 10%;
}
.content-skill {
  font-family: Aller Italic;
  padding: 5px;
}
.bio {
  background: #fff;
  margin: 0 auto;
  text-align: center;
  padding: 10px;
  border: 1.5px solid #343434;
  box-shadow: 0px 1px 1px 0px;
  margin-left: 30px;
}
.bio .row {
  margin: 0;
}
.bio .img-bio {
  width: 100%;
  text-align: center;
}
.bio .img-bio img {
  width: 40%;
  border-radius: 50%;
}
.name-bio {
  font-family: Aller Bold;
}
.des-bio {
  font-family: Aller Italic;
  padding: 10px 40px;
  border-bottom: 1px solid #879999;
}
.relation {
  background: #27282d;
  position: relative;
  top: 150px;
  width: 20%;
}
.relation:before {
  content: "";
  position: absolute;
  right: 0;
  border-bottom: 10px solid rgba(255,255,0,0);
  border-top: 10px solid transparent;
  border-left: 10px solid #27282d;
  top: -9px;
}
.social {
  margin-top: 10px;
  padding: 10px;
}
.social a {
  padding: 0px 5px;
  font-size: 20px;
  color: #464d4b;
}
.blog {
  margin: 0 auto;
  background: #fff;
  margin-top: 70px;
  width: 95%;
  border: 1.5px solid #343434;
  box-shadow: 0px 1px 1px 0px;
  padding: 10px;
  margin-bottom: 20px;
}
.blog .title-blog {
  text-align: center;
  padding: 10px;
}
.blog .title-blog h2 {
  margin: 0 auto;
  padding: 10px;
  border-bottom: 1px solid #000;
  width: 50%;
  color: #27282d;
}
.blog .title-blog h2 span {
  padding: 10px;
}
.blog .des-blog {
  text-align: center;
  font-family: Aller Italic;
  font-size: 16px;
}
.posts {
  padding: 10px;
  overflow: hidden;
}
.posts a {
  color: #000;
}
.img-post {
  width: 100%;
  height: 200px;
  border: 1px solid #27282d;
  margin-top: 10px;
}
.post {
  border: 1px solid;
  width: 30%;
  margin-left: 20px;
  background: #ebecec;
  margin-top: 40px;
}
.post .title-post {
  font-family: Aller Bold;
  padding: 5px;
  text-align: center;
  border-bottom: 1px solid #464d4b;
}
.fecha a {
  color: #008cba;
}
.fecha span {
  font-size: 14px;
}
.tags {
  padding: 10px;
}
.tags span {
  background: #435555;
  color: #fff;
  padding: 0px 2px;
  border-radius: 10%;
}
.see {
  text-align: center;
  padding: 10px;
  margin: 0 auto;
  margin-top: 40px;
  border: 1px solid #27282d;
  width: 30%;
  cursor: pointer;
}
.see a {
  color: #27282d;
}
.see:hover {
  background: #27282d;
}
.see:hover a {
  color: #fff;
}
.subscribe {
  margin-top: 30px;
  margin-left: 10%;
  background: #fff;
  border: 1.5px solid #343434;
  box-shadow: 0px 1px 1px 0px;
}
.subscribe h4 {
  color: #27282d;
  border-bottom: 1px solid #27282d;
  width: 50%;
  padding: 5px;
}
.subscribe span {
  padding: 5px;
}
.send {
  margin-top: 30px;
  text-align: center;
}
.send a {
  position: relative;
  top: 10px;
  background: #435555;
  color: #fff;
  padding: 10px;
  text-transform: uppercase;
}
@media screen and (max-width: 800px) {
  header h1:before {
    width: 0px;
  }
  header h1:after {
    width: 0px;
  }
}
@media screen and (max-width: 768px) {
  .info {
    margin: 0 auto;
    padding: 20px;
  }
  .bio {
    margin-left: 0;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 70px;
  }
  .post {
    width: 80%;
    margin-left: 10%;
  }
}
@media screen and (max-width: 350px) {
  header h1 {
    left: -50px;
  }
}
